<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>

<script type="text/javascript">
	$(document).ready(function(){
	  
		$(window).scroll(function(){
			if ($(this).scrollTop() > 300) {
				$('.scrollup').fadeIn();
			} else {
				$('.scrollup').fadeOut();
			}
			});
			  
			$('.scrollup').click(function(){
			$("html, body").animate({ scrollTop: 0 }, 600);
			return false;
		});
	  
	});
</script>

<script src="{{ '/assets/js/main.min.js' | absolute_url }}"></script>

<!-- Yandex.RTB блок слева -->

<script type="text/javascript">
	(function(w, d, n, s, t) {
		w[n] = w[n] || [];
		w[n].push(function() {
			Ya.Context.AdvManager.render({
				blockId: "R-A-290538-2",
				renderTo: "yandex_rtb_R-A-290538-2",
				async: true
			});
		});
		t = d.getElementsByTagName("script")[0];
		s = d.createElement("script");
		s.type = "text/javascript";
		s.src = "//an.yandex.ru/system/context.js";
		s.async = true;
		t.parentNode.insertBefore(s, t);
	})(this, this.document, "yandexContextAsyncCallbacks");
</script>  

<!-- Yandex.RTB блок снизу -->
<script type="text/javascript">
	(function(w, d, n, s, t) {
		w[n] = w[n] || [];
		w[n].push(function() {
			Ya.Context.AdvManager.render({
				blockId: "R-A-290538-1",
				renderTo: "yandex_rtb_R-A-290538-1",
				async: true
			});
		});
		t = d.getElementsByTagName("script")[0];
		s = d.createElement("script");
		s.type = "text/javascript";
		s.src = "//an.yandex.ru/system/context.js";
		s.async = true;
		t.parentNode.insertBefore(s, t);
	})(this, this.document, "yandexContextAsyncCallbacks");
</script>