p=println
pe={pause() exit()}

if (fsexists("sd:/switch/prod.keys")) {
	fwstr={fw=maj.str()+"."+min.str()+"."+pat.str()}
	fv={a=readsave("bis:/save/8000000000000120")
	b=a.read("/meta/imkvdb.arc")
	c=["BYTE[]",9,8,0,0,0,0,0,1]
	d=b.find(c)
	if(d>0){
		e=b.slice(d+8,4).project()
		ver=(e[3]<<24)|(e[2]<<16)|(e[1]<<8)|(e[0])
		pat=((ver>>16)&((1<<4)- 1))
		min=((ver>>20)&((1<<6)- 1))
		maj=((ver>>26)&((1<<6)- 1))
	}.else(){print("Fw not found")pe()}
	a=0 fwstr()}
	if(mountsys("SYSTEM")){print("SYSTEM MOUNT FAIL")pe()}
	fv()
}.else(){payload("sd:/config/kefir-helper/lockpick_sys.bin")}

fv()
sysfw=fw
p("Sys'  fw is",fw)
if (emu()){if(!mountemu("SYSTEM")){fv()emufw=fw p("Emu's fw is",fw)}}
pause()