---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";
@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

.masthead a:visited, .sidebar a:visited {
  color: #494e52!important;
}

html, body {
 /* Убирает прокрутку по горизонтале, для мобильной версии */
 /*overflow-x: hidden;*/
 /*margin-bottom: 0!important;*/
}

body {
    background-color: #FFFFFF !important;
}

.page {
  /*margin: 10px;*/
}

.page__footer-container{
  border-top: 1px solid #bdc1c4;
  background-color: #f2f3f3;
  z-index: -2;
  width: 100vw;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.page__footer {
  z-index: -1;
  max-width: 1280px;
  border: 0;
  padding: 2em 4em;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: unset;

    @media screen and (max-width: 500px) {
      position: unset;
      height: auto!important;
      margin: 0!important;
      padding: 0 2em;
    }
}

.page__footer-follow li {
    @media screen and (max-width: 500px) {
      display: block!important;
      font-size: 1.1em!important;
      margin-left: 20px;
    }
}

.page__footer-follow li+li:before {
      @media screen and (max-width: 500px) {
        padding-right: 0!important;
    }
}

.page__footer-follow, .page__footer-copyright {
        @media screen and (max-width: 500px) {
        margin: 0.7em 0.7em 0 0.7em;
    }

}

.page__footer footer {
    @media screen and (max-width: 500px) {
      max-width: 100vw!important;
    }

}

details {
  margin: 0.5rem 0;
  padding: 0 1.2rem;
  width: 100%;
  position: relative;
  border: 1px solid #78909C;
  border-radius: 6px;
  background-color: #ECEFF1;
  color: #263238;
  transition: background-color .15s;

  > :last-child {
    margin-bottom: 1rem;
  }

  &::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: inherit;
    opacity: .15;
    box-shadow: 0 .25em .5em #263238;
    pointer-events: none;
    transition: opacity .2s;
    z-index: -1;
  }

  &[open] {
    background-color: #FFF;

    &::before {
      opacity: .6;
    }
  }
}

summary {
  padding: 0.5rem 1rem 0.5rem 0;
  display: block;
  position: relative;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;

  &::before,
  &::after {
    width: .75em;
    height: 2px;
    position: absolute;
    top: 50%;
    right: 0;
    content: '';
    background-color: currentColor;
    text-align: right;
    transform: translateY(-50%);
    transition: transform .2s ease-in-out;
  }

  &::after {
    transform: translateY(-50%) rotate(90deg);

    [open] & {
      transform: translateY(-50%) rotate(180deg);
    }
  }

  &:focus {
    outline: none;
  }

  &::-webkit-details-marker {
    display: none;
  }
}

.spoiler-body {
/*  p {
    margin: 0 1.5rem 1.5em;
    line-height: 1.5;
  }
*/
  ul {
    margin: 1em 0px 1em 1em;
    padding: 0 0 0 1em;
  }

  li:not(:last-child) {
    margin-bottom: 0.5em;
  }

  code {
    padding: 0.2em;
    border-radius: 3px;
    background-color: #E0E0E0;

    pre > & {
      display: block;
      padding: 1em;
      margin: 0;
    }
  }
}

.tooltip {
  display:inline-block;
  position:relative;
  border-bottom:1px dotted #666;
  text-align:left;
  cursor: pointer;
  
    @media screen and (max-width: 1025px) {
      position: unset;
    }  
}

.tooltip .bottom {
  min-width:250px;
  max-width: 80vw;
  width: 450px;
  top:40px;
  left:50%;
  transform:translate(-50%, 0);
  padding:10px 20px;
  color:#444444;
  background-color:#EEEEEE;
  border-radius:8px;
  position:absolute;
  z-index:99999999;
  box-sizing:border-box;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
  visibility:hidden; opacity:0;
  
    @media screen and (max-width: 1025px) {
      width: 80vw;
      max-width: 94vw;
      min-width: 60vw;
      top: unset;
    }

    @media screen and (max-width: 500px) {
      width: 94vw;
      max-width: 94vw;
      min-width: 94vw;
      top: unset;
    }
}


.bottom {
  font-weight:normal;
  font-size:13px;
}

.tooltip:hover .bottom {
  visibility:visible; opacity:1;
  transition:opacity 0.5s;
}

.tooltip .bottom i {
  position:absolute;
  bottom:100%;
  left:50%;
  margin-left:-12px;
  width:24px;
  height:12px;
  overflow:hidden;
}

.tooltip .bottom i::after {
  content:'';
  position:absolute;
  width:12px;
  height:12px;
  left:111%;
  transform:translate(-50%,50%) rotate(45deg);
  background-color:#EEEEEE;
  box-shadow:0 1px 8px rgba(0,0,0,0.5);
}


.greedy-nav a.site-title {
    margin-left: 15px;
}